<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/index"><span class="glyphicon glyphicon glyphicon-th"></span> Tic Tac Toe</a>
      </li>
      <li>
        <a href="/shopping"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping</a>
      </li>
      <li>
        <a href="/blog"><span class="glyphicon glyphicon-book"></span> Blogs</a>
      </li>
      <li>
        <a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/profile"><span class="glyphicon glyphicon-book"></span> Profile</a>
      </li>
    </ul>
  </div>
</nav>
