<script id="player-template" type="text/x-handlebars-template">
  <h2>Player {{player_number}}</h2>
  <input class="player-name" name="name" type="text" value="{{ name }}"/>

  <div class="thumbnail">
    <img src="/images/{{ image_url }}"/>
  </div>

  <button type="button" class="select-avatar-btn btn btn-primary" data-player-number="{{ player_number }}">
    Select Avatar
  </button>
</script>

<script id="game-result-template" type="text/x-handlebars-template">
  <div id="game-result-modal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          The game has ended!
        </div>

        <div class="modal-body clearfix">
          Winner: David
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Play Again</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="modal-template" type="text/x-handlebars-template">
  <div id="avatar-select-modal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          Select your avatar
        </div>

        <div class="modal-body clearfix">
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a onclick="return false;" data-img="hellokitty1.png" href="#">
                  <img src="/images/hellokitty1.png"/>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a onclick="return false;" data-img="helloKitty2.png" href="#">
                  <img src="/images/helloKitty2.png"/>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a onclick="return false;" data-img="helloKitty3.png" href="#">
                  <img src="/images/helloKitty3.png"/>
                </a>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a onclick="return false;" data-img="minion.png" href="#">
                  <img src="/images/minion.png"/>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a onclick="return false;" data-img="minion2.png" href="#">
                  <img src="/images/minion2.png"/>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>
