.image{
    margin: 5px 0 0 35px;
}

.selected {
    display: inline-block;
    border: 3px solid blue;
}

.boxes {
    width: 200px;
    height: 350px;
}

.player-image,
.player-name {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
