.ttc-header {
    text-transform: uppercase;
    text-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
    padding-left:100px;
}

.text{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background:#778899 url(/images/logo.png) top left no-repeat;
}

.board {
    border: 1px solid black;
    padding: 10px;
}

.board.top, .piece.top {
    border-top: 0px;
}

.board.bottom, .piece.bottom {
    border-bottom: 0px;
}

.board.right, .piece.right {
    border-right: 0px;
}

.board.left, .piece.left {
    border-left: 0px;
}

.board.player1{
    background: #ffffff url(/images/minion.png) center center no-repeat;
}

.board.player2{
    background: #ffffff url(/images/minion2.png) center center no-repeat;
}

.piece {
    height: 50px;
    border: 1px solid black;
    padding: 20px;
}

@media (max-width: 600px) {
    .piece {
        height: 40px;
    }

    .board {
        padding: 5px;
    }
}

@media (min-width: 1000px) {
    .piece {
        height: 70px;
    }

    .board {
        padding: 20px;
    }
}

.disabled{
    opacity: 0.5;
}

.piece.player1 {
    background-color: #ff0000;
    opacity:0.5;
}
.piece.player2 {
    background-color:#0000ff;
    opacity: 0.5;
    content: 'O';
}

/**
.piece.player1::before {
    content: 'X';
}

.piece.player2::after {
    content: '0';
}*/
