<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
  </style>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
  <section class="row info">
    <div class="col-sm-2">
      <div class="resume-image thumbnail">
        <img src="/images/profile-image.jpg" height="100"/>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="h1">
        <h1>Julia Kyaw</h1>
        <small>Frontend Web Developer</small>
      </div>
    </div>
    <div class="col-sm-4">
      <p>
        <br/>
        email: juliabinary@gmail.com <br/>
        web: http://www.juliabinary.com
      </p>
    </div>
  </section>

  <hr/>

  <section class="row about">
    <div class="col-sm-3">
      Objective
    </div>
    <div class="col-sm-9">
      <p>
        I just graduated from UC Davis with B.S. in computer science. I love developing web sites using
        html/css/javascript. I would love for an opportunity to join a team that's working on a web
        application as a developer or a QA engineer!
      </p>
      <p>
        I have a working knowledge of Selenium automation and currently trying to self-teach
        Bootstrap/Backbone/node.js.
      </p>
      <p>
        You can check out my projects at http://www.juliabinary.com/ or at my github!
      </p>
    </div>
  </section>

  <hr/>

  <section class="row work-exp">
    <div class="col-sm-3">
      Work Experience
    </div>
    <div class="col-sm-9">
      <div class="work-exp">
        <div class="row">
          <div>QA Software Engineer at IBM</div>
          <div class="pull-right">07 / 2014 - 03 / 2015</div>
        </div>
        <div class="job-summary"><ul>
            <li>Test the OTS product (Database monitoring web application)</li>
            <li>Learn Agile process, attend daily scrum and gives updates</li>
            <li>Install IBM DB2 database, configure and install latest version of OTS on Windows and Linux</li>
            <li>Write relevant test cases in RQM (IBM's test case management system)</li>
            <li>Install and use Selenium IDE for automation</li>
            <li>Use firefox and chrome web inspector to help find xpath/css selector for Selenium automation </li>
            <li>Pay attention to details, find defects, interact with product manager and engineers</li>
            <li>Add new selenium test cases in Java</li>
          </ul>

          <p>Tools: Eclipse with IBM - Rational Team Concert, Lotus Note, cygwin, ssh, scp, tar, gunzip, vi, chrome, firefox, selenium IDE, VMWare</p>
        </div>
      </div>
    </div>
  </section>

  <hr/>

  <section class="row education">
    <div class="col-sm-3">
      Education
    </div>
    <div class="col-sm-9">
      <div class="education first">
        <div class="school-name">University of California, Davis</div>

        <div class="dates pull-right">
          <span class="start-year">2012</span>
          <span class="date-separator">-</span>
          <span class="end-year">2015</span>
        </div>

        <div class="program">
          <span class="degree">Bachelor's Degree</span>

          <span class="program-separator">,</span>
          <span class="field-of-study">Computer Science</span>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>