<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
  </style>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
  <div>
    <label>Title</label>
    <textarea id="title" name="title"></textarea>
  </div>
  <div>
    <label>body</label>
    <textarea id="body" name="body"></textarea>
  </div>
  <div>
    <label>File</label>

    <div class="inputBox">
      <input type="file" name="photo"/>
    </div>
  </div>
  <div>
    <label>Price</label>

    <div class="inputBox">
      <input type="text" name="price"/>
    </div>
  </div>
  <div>
    <label>Location</label>

    <div class="inputBox">
      <input type="text" name="location"/>
    </div>
  </div>
  <div class="submit"><input class="btn btn-primary" type="submit" name="submit"></div>
  <div class="br"></div>
</div>

<div class="container">
  <img src="/images/hellokitty1.png">

  <div class="smallContainer">
    <div class="container">
      <div>
        <b>Title:</b>

        <div class="titleLabel">Hello kitty</div>
      </div>
      <div>
        <b>Price:</b>

        <div class="priceLabel">$20</div>
      </div>
      <div>
        <b>Location:</b>

        <div class="locationLabel">San Francisco</div>
      </div>
    </div>
  </div>
  <div class="p">
    <p>You've probably heard how paramount blogging is to the success of your
      marketing. Without it, your SEO will tank, you'll have nothing to promote in
      social media,you'll have no clout with your leads and customers, and you'll
      have fewer pages to put those oh-so-valuable calls-to-action that generate
      inbound leads. Need I say more?</p>
  </div>
  <div class="br"></div>
</div>

</body>
</html>