<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
  <h1>Welcome to Ultimate Tic Tac Toe!</h1>

  <p>
    The video below is an example of how the game is played.
    For more information on the rules, read up at:
    <a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/">Ultimate Tic-Tac-Toe</a>
  </p>

  <p>
    You can go to this <a href="/learnmore">page</a>
    for the video of selenium automation that covers all cases. You should also checkout
    the source code at my <a href="https://github.com/skyblue528/myProject">github</a>. Feel free to
    fork the repo, file issues, send pull request and contribute to the project!
  </p>

  <div class="embed-responsive embed-responsive-16by9">
    <div style="text-align: center; margin: auto">
      <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/6v-Q0Rkze1o?color2=FBE9EC&amp;hd=1&amp;version=3">
        <param name="movie" value="http://www.youtube.com/v/6v-Q0Rkze1o?color2=FBE9EC&amp;hd=1&amp;version=3" />
        <param name="allowFullScreen" value="true" />
        <param name="allowscriptaccess" value="always" />
      </object>
    </div>
  </div>
</div>
</body>
</html>