<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
  <div class="jumbotron">
    <div class="sContainer">
      <h1>Welcome to Tic Tac Toe!</h1>
    </div>
    <p>Let start tutorial for the 9*9 tic tac toe game!</p>

    <p><a class="btn btn-primary btn-lg" href="/learnMore" role="button">
        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
        Learn more
      </a>
    </p>
  </div>
</div>
</body>
</html>