<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<head>
    <style>
        h1{
            text-transform: uppercase;
            text-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
            padding-left:100px;
        }
        .text{
            background: blueviolet url(/views/images/logo.png) top left no-repeat;
        }
        .bigBoard{
            width: 610px;
        }
        .board{
            width: 200px;
            height: 220px;
            border: 1px solid black;
            float:left;

        }

        .board.player1{
            background: #ffffff url(images/minion.png) center center no-repeat;
        }

        .board.player2{
            background: #ffffff url(images/minion2.png) center center no-repeat;
        }

        .piece{
            width: 63px;
            height: 63px;
            margin-bottom: 2px;
            border: 1px solid black;
            float:left;
        }
        .disabled{
            opacity: 0.5;
        }
        .piece.player1 {
            background-color: #ff0000;
        }
        .piece.player2 {
            background-color:#0000ff;
        }
    </style>
</head>
<body>

    <a href="/home.ejs"><button type="submit" class="btn btn-default">Home</button></a>
    <a href="/home.ejs"><button type="submit" class="btn btn-default">about</button></a>
    <div class="text">
        <h1>Welcome to 9 By 9 Tic Tac Toe Game</h1>
    </div>
    <div class="bigBoard"></div>
</body>
<script>
    var total = 0;
    var totalMove = 0;
    var totalScore = 0;
    var bigBoardScore = 0;
    //console.log('totalScore' + totalScore)
    for(var index = 0; index < 9; index++){
        $('.bigBoard').append('<div class="board"></div>')
    }

    for(var i = 0; i < 9; i++){
        if(i == 0){
            $('.board').append('<div class="message">Tic Tac Toe</div>');
        }
        $('.board').append('<div class="piece"></div>');
    }

    // return 0 if no winner, -1 if player 1, 1 if player 2
    function findWinnerOfBoard(board) {
        var score = 0;
        for(var i = 0; i < 3; i++){
            score = board[0][i];
            score +=board[1][i];
            score +=board[2][i];

            if(score == -3){
                return -1;
            }
            if(score == 3){
                return 1;
            }
        }

        score = 0;
        for(var i = 0; i < 3; i++){
            score = board[i][0];
            score +=board[i][1];
            score +=board[i][2];

            if(score == -3){
                return -1;
            }
            if(score == 3){
                return 1;
            }
        }

        score = board[0][0] + board[1][1] + board[2][2];
        if(score == -3){
            return -1;
        }
        if(score == 3){
            return 1;
        }

        score = board[0][2] + board[1][1] + board[2][0];
        if(score == -3){
            return -1;
        }
        if(score == 3){
            return 1;
        }

        return 0;
    }



    $('.piece').on('click',function(){
        // Step #1 - if piece is clicked
        var $piece = $(this);
        if($piece.parent().hasClass('disabled')) {
            return;
        }

        if($piece.hasClass('player1') || $piece.hasClass('player2')){
            return;
        }

        $piece.addClass(total++ % 2 == 0 ? 'player1' : 'player2');

        // Step #2 - find winner if winner is not set
        findWinnerOfCurrentBoard($piece.parent());

        // Step #3 - Find winner of big board
        findWinnerOfBigBoard();

        // Step #4 - Disable all boards
        toggleBoards($piece.index());
    });

    function findWinnerOfCurrentBoard($board) {
        if ($board.hasClass('player1') || $board.hasClass('player2'))
            return;

        var board = [[0,0,0],[0,0,0],[0,0,0]];
        $board.find('.piece').each(function(index){
            var i = index%3;
            var j = Math.floor(index/3);
            //console.log("i am here1");
            if($(this).hasClass('player1')){
                board[i][j] = -1;
            }
            if($(this).hasClass('player2')) {
                board[i][j] = 1;
            }
        });

        var winner = findWinnerOfBoard(board);
        if (winner == 1) {
            $board.addClass('player2');
        }
        else if (winner == -1) {
            $board.addClass('player1')
        }
    }

    function findWinnerOfBigBoard() {
        var board = [[0,0,0],[0,0,0],[0,0,0]];
        $('.board').each(function(index){
            var i = index%3;
            var j = Math.floor(index/3);
            if($(this).hasClass('player1')){
                board[i][j] = -1;
            }
            if($(this).hasClass('player2')) {
                board[i][j] = 1;
            }
        });

        var winner = findWinnerOfBoard(board);
        if (winner == 1) {
            $('.message').text("player2 win");
            $('.bigBoard').addClass("foundWinner");
        }
        else if (winner == -1) {
            $('.message').text("player1 win");
            $('.bigBoard').addClass("foundWinner");
        }
    }

    function toggleBoards(pieceIndex) {
        $('.board').each(function(index){
            var $board = $(this);

            //console.log($piece.index()-1  + "index: " + index);
            if(!($board.hasClass('disabled'))){
                $board.addClass('disabled');
            }

            if($('.bigBoard').hasClass('foundWinner')){
                $board.addClass('disabled');
            }else if((pieceIndex - 1) == index){
                $board.removeClass('disabled');
            }
        });
    }


</script>
</html>