<html>
    <head>

    </head>
    <body>

    <form id      =  "uploadForm"
          enctype   =  "multipart/form-data"
          action    =  "/name"
          method    =  "get">
        <h1>Welcome, <%= name %></h1>
        <label for="names">Name: </label>
        <input id="names" name="name" type="text" />
        <input type="submit" class="btn btn-default" >
    </form>
    </body>
</html>