<html>
    <head>
        <% include ../partials/header.ejs %>

    </head>
    <body>
    <% include ../partials/nav.ejs %>
        <div class="container-fluid">
        <form id      =  "uploadForm"
              enctype   =  "multipart/form-data"
              action    =  "/name"
              method    =  "get">
            <h1>Welcome, <%= name %></h1>
            <label for="names">Name: </label>
            <input name="name" type="text" />
            <input type="submit" class="btn btn-default btn-primary" >
        </form>
        </div>
    </body>
</html>