<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<!-- 220px, 320-->
<% include ../partials/nav.ejs %>

<div class="container">
  <div id="players">

  </div>
</div>

</body>

<% include ../partials/templates.ejs %>
</html>