<html>
    <head>
        <% include ../partials/header.ejs %>
        <style>
            .bigContainer{
                margin:0 auto 0 auto;
                width:570px;
                height:330px;
            }
            .p1{
                margin: 5px 0 5px 70px;
                width: 50px;
            }
            .p1Container{
                float:left;
                width: 220px;
                height:320px;
            }
            .p2 {
                margin: 5px 0 5px 70px;
                width: 50px;
            }
            .p2Container{
                float: left;
                margin-left:120px;
                width: 220px;
                height:320px;
            }
            .files{
                margin-bottom: 10px;
            }
            .imgContainer{
                width:900px;
                height: 230px;
                margin: 0 auto 10px auto;
            }
        </style>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="imgContainer">
            <span><a href="/profile?name=hellokitty1.png"><img src="/images/hellokitty1.png"/></a></span>
            <span><a href="/profile?name=hellokitty2.png"><img src="/images/hellokitty2.png" name="player1"/></a></span>
            <span><a href="/profile?name=hellokitty3.png"><img src="/images/hellokitty3.png" name="player1"/></a></span>
            <span><a href="/profile?name=minion.png"><img src="/images/minion.png" name="player1"/></a></span>
            <span><a href="/profile?name=minion2.png"><img src="/images/minion2.png" name="player1"/></a></span>
        </div>

        <div class="bigContainer">
        <div class="p1Container"><div class="p1">Player1</div>
            <img src="/images/m1.png"/>
            <form id      =  "uploadForm"
                  enctype   =  "multipart/form-data"
                  action    =  "/api/photo/player1"
                  method    =  "post">
                <div class="files"></div>
                <input type="file" name="userPhoto" />
                <div class="files"></div>
                <input type="submit" class="btn btn-default" value="Upload Image" name="submit">
                <button id='player1' type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal1">Select</button>
                <div class="modal1 modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <span><a href="/profile?name=helloKitty1.png&player=1"><img src="/images/helloKitty1.png"/></a></span>
                                <span><a href="/profile?name=helloKitty2.png&player=1"><img src="/images/hellokitty2.png"/></a></span>
                                <span><a href="/profile?name=helloKitty3.png&player=1"><img src="/images/hellokitty3.png"/></a></span>
                                <span><a href="/profile?name=minion.png&player=1"><img src="/images/minion.png"/></a></span>
                                <span><a href="/profile?name=minion2.png&player=1"><img src="/images/minion2.png"/></a></span>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
        </form>
        </div>

        <div class="p2Container"><div class="p2">Player2</div>
            <img src="/images/m2.png"/>
            <form id      =  "uploadForm"
                  enctype   =  "multipart/form-data"
                  action    =  "/api/photo/player2"
                  method    =  "post">
                <div class="files"></div>
                <input type="file" name="userPhoto" />
                <div class="files"></div>
                <input type="submit" class="btn btn-default" value="Upload Image" name="submit">
                <button id='player2' type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal2">Select</button>
                <div class="modal2 modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <span><a href="/profile?name=helloKitty1.png&player=2"><img src="/images/helloKitty1.png"/></a></span>
                            <span><a href="/profile?name=helloKitty2.png&player=2"><img src="/images/helloKitty2.png"/></a></span>
                            <span><a href="/profile?name=helloKitty3.png&player=2"><img src="/images/helloKitty3.png"/></a></span>
                            <span><a href="/profile?name=minion.png&player=2"><img src="/images/minion.png"/></a></span>
                            <span><a href="/profile?name=minion2.png&player=2"><img src="/images/minion2.png"/></a></span>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <!-- <input type="submit" class="btn btn-default" value="Save changes" name="submit"> -->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </form>
        </div>
        </div>
    </body>
    <script>

    </script>
</html>