<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="text">
      <h1 class="ttc-header">9x9 Tic Tac Toe</h1>
    </div>

    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-8" >
        <div class="bigBoard"></div>
      </div>
    </div>
  </div>
</body>
<script>
</script>
</html>
