<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="text">
      <h1 class="ttc-header">Welcome to 9 By 9 Tic Tac Toe Game</h1>
    </div>

    <div class="bigBoard"></div>
  </div>
</body>
<script>
</script>
</html>
