<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
<div class="container">
    <h1>Using Selenium for Automation</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <div style="text-align: center; margin: auto">
            <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/TE_WcFNk6M4?color2=FBE9EC&amp;hd=1&amp;version=3">
                <param name="movie" value="http://www.youtube.com/v/6v-Q0Rkze1o?color2=FBE9EC&amp;hd=1&amp;version=3" />
                <param name="allowFullScreen" value="true" />
                <param name="allowscriptaccess" value="always" />
            </object>
        </div>
    </div>

    <h1>Using Selenium IDE</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <div style="text-align: center; margin: auto">
            <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/zUdLGSAletk?color2=FBE9EC&amp;hd=1&amp;version=3">
                <param name="movie" value="http://www.youtube.com/v/6v-Q0Rkze1o?color2=FBE9EC&amp;hd=1&amp;version=3" />
                <param name="allowFullScreen" value="true" />
                <param name="allowscriptaccess" value="always" />
            </object>
        </div>
    </div>
</div>
</div>
</body>
</html>
