<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
<div class="container">
    <h1>Using Selenium for Automation</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/v/JACq6EOhnXs"></iframe>
    </div>

    <h1>Using Selenium IDE</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/v/u7Ah8KSi4jw"></iframe>
    </div>
</div>
</div>
</body>
</html>
