<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
<div class="container">
    <h1>Using Selenium for Automation</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/v/TE_WcFNk6M4"></iframe>
    </div>

    <h1>Using Selenium IDE</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/v/zUdLGSAletk"></iframe>
    </div>
</div>
</div>
</body>
</html>
