<html>
    <head>
        <% include ../partials/header.ejs %>
        <style>

        </style>
    </head>
    <% include ../partials/nav.ejs %>
    <body>
        <div>Hello World!</div>
    </body>

</html>